apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: spring
  template:
    metadata:
      labels:
        app: spring
    spec:
      containers:
        - name: spring
          image: kmwalsh211/spring-microservice:4.0.1
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: my-config   # Step 5 - inject ConfigMap as env vars
